[submodule "Source/stb"]
	path = Source/stb
	url = https://github.com/nothings/stb.git
[submodule "Source/imgui"]
	path = Source/imgui
	url = https://github.com/ocornut/imgui
[submodule "libtcod"]
	path = libtcod
	url = https://github.com/vugluskr86/libtcod.git
[submodule "polyvox"]
	path = polyvox
	url = git@bitbucket.org:volumesoffun/polyvox.git
